In [1]:
from selenium import  webdriver
from selenium.webdriver.common.by import By
import time
from selenium.webdriver.common.keys import Keys
import pandas as pd

In [2]:
from selenium import  webdriver
from selenium.webdriver.common.by import By
import time
from selenium.webdriver.common.keys import Keys
import pandas as pd

chrome_options = webdriver.ChromeOptions()
### This blocks images and javascript requests
chrome_prefs = {
    "profile.default_content_setting_values": {
        "images": 2,
        "javascript": 2,
    }
}
chrome_options.experimental_options["prefs"] = chrome_prefs
###

driver = webdriver.Chrome()

url = 'https://housing.com/in/buy/searches/D2H4M1P5eetqxj34ghuz32h'
driver.get(url)


time.sleep(3)




try:
    element = driver.find_element(By.TAG_NAME,value='body')
    while True:
        element.send_keys(Keys.PAGE_DOWN)
        time.sleep(1)
        page_41 = driver.find_element(By.CLASS_NAME,value='css-1nm99ps')


        m= '981'
        if m in page_41.text :
            break
except Exception as e:
    print('step1:',e)
    pass
#//*[@id="innerApp"]/div[3]/div[2]/div[1]
#css-v64o2m
#//*[@id="srp-10"]/div/div[2]/div[1]/span

#//*[@id="srp-10"]/div/div[2]/di

'''   s= driver.find_element( By.CLASS_NAME ,value='css-18rodr0')
print(s.text    '''


try:
    bigbox = driver.find_elements(By.CLASS_NAME,value='css-1nr7r9e')


#    total_price=[]
    total_name=[]
    total_address = []
    total_sqft=[]
    total_avg_sqft = []
    total_owners = []
    emi_option=[]

    for box in bigbox :
#        price = box.find_element(By.CLASS_NAME,value='css-18rodr0')
        name = box.find_element(By.CLASS_NAME,value='css-zekqfr')
        address = box.find_element(By.CLASS_NAME,value='css-4in8py')
        sq_ft = box.find_element(By.CLASS_NAME,value='css-1ty8tu4')

        owner = box.find_element(By.CLASS_NAME,value='css-wni7av')
        emi = box.find_element(By.CLASS_NAME,value='css-70qvj9')


        total_name.append(name.text)
#        total_price.append(price.text)
        total_address.append(address.text)
        total_sqft.append(sq_ft.text)
        emi_option.append(emi.text)

        total_owners.append(owner.text)
except Exception as e:
    print('step2:',e)


    pass
'''print(total_name)
print(total_price)
print(total_address)
print(total_sqft)

print(total_owners)
print(emi_option)'''


print('name',len(total_name))
#print('price',len(total_price))
print('address',len(total_address))
print('sqft',len(total_sqft))
print('owners',len(total_owners))
print('emi',len(emi_option))

try:
    df = pd.DataFrame()
    df['name']=total_name
#    df['price']=total_price
    df['address']=total_address
    df['sq_ft']=total_sqft
    df['owners']=total_owners
    df['emi']=emi_option
except Exception as e:
    print('step3',e)
    pass


df.to_csv('df3')

name 999
address 999
sqft 999
owners 999
emi 999

In [5]:
df['housetype'] = 'Apartment'
df['house_condition'] = 'old'

In [6]:
df.head()

,name,address,sq_ft,owners,emi,housetype,house_condition
0,3 BHK Apartment for sale in Dr.Homi Bhabha Nagar,"Sheetal Vihar, Bhagwant Nagar, Dr.Homi Bhabha ...",1550 sq.ft,Mahendra Kotwal,₹75.0 L\nEMI starts at ₹39.72 K,Apartment,old
1,2 BHK Apartment for sale in Samta Nagar,"Samraat Dream Citi, Samta Nagar, Nashik",1000 sq.ft,Jiten Dadarkar,₹41.0 L\nEMI starts at ₹21.71 K,Apartment,old
2,2 BHK Apartment for sale in Nashik Road,"Suryaprakash Apartment,Nashik Road, Nashik",970 sq.ft,Pankaj,₹53.35 L\nEMI starts at ₹28.25 K,Apartment,old
3,2 BHK Apartment for sale in Nashik Road,"Adishvar Residency,Nashik Road, Nashik",1000 sq.ft,Saurav,₹55.0 L\nEMI starts at ₹29.13 K,Apartment,old
4,2 BHK Apartment for sale in Nashik Road,"Nashik Road, Nashik",853 sq.ft,Vivek Pavanaskar,₹27.0 L\nEMI starts at ₹14.30 K,Apartment,old

In [4]:
df.describe()

,name,address,sq_ft,owners,emi
count,999,999,999,999,999
unique,246,621,311,805,151
top,1 BHK Apartment for sale in Nashik Road,"Nashik Road, Nashik",750 sq.ft,Sanjay,₹30.0 L\nEMI starts at ₹15.89 K
freq,65,50,35,4,67

In [7]:
df.to_csv('housing_data3')

In [9]:
import pandas as pd

In [10]:
df= pd.read_csv('housing_data3',index_col=0)
df

,name,address,sq_ft,owners,emi,housetype,house_condition
0,3 BHK Apartment for sale in Dr.Homi Bhabha Nagar,"Sheetal Vihar, Bhagwant Nagar, Dr.Homi Bhabha ...",1550 sq.ft,Mahendra Kotwal,₹75.0 L\nEMI starts at ₹39.72 K,Apartment,old
1,2 BHK Apartment for sale in Samta Nagar,"Samraat Dream Citi, Samta Nagar, Nashik",1000 sq.ft,Jiten Dadarkar,₹41.0 L\nEMI starts at ₹21.71 K,Apartment,old
2,2 BHK Apartment for sale in Nashik Road,"Suryaprakash Apartment,Nashik Road, Nashik",970 sq.ft,Pankaj,₹53.35 L\nEMI starts at ₹28.25 K,Apartment,old
3,2 BHK Apartment for sale in Nashik Road,"Adishvar Residency,Nashik Road, Nashik",1000 sq.ft,Saurav,₹55.0 L\nEMI starts at ₹29.13 K,Apartment,old
4,2 BHK Apartment for sale in Nashik Road,"Nashik Road, Nashik",853 sq.ft,Vivek Pavanaskar,₹27.0 L\nEMI starts at ₹14.30 K,Apartment,old
...,...,...,...,...,...,...,...
994,3 BHK Apartment for sale in Indira Nagar,"Kala Nagar, Indira Nagar,Nashik",1434 sq.ft,Prathamesh Kulkarni,₹52.0 L\nEMI starts at ₹27.54 K,Apartment,old
995,3 BHK Apartment for sale in Indira Nagar,"Kala Nagar, Indira Nagar,Nashik",1434 sq.ft,Prathamesh Kulkarni,₹52.0 L\nEMI starts at ₹27.54 K,Apartment,old
996,1 BHK Apartment for sale in Shivaji Nagar,"Shivaji Nagar, Nashik",580 sq.ft,Shashikala Pagar,₹15.0 L\nEMI starts at ₹7.94 K,Apartment,old
997,3 BHK Apartment for sale in Anandwalli Gaon,"Balawant Nagar, Anandwalli Gaon,Nashik",1700 sq.ft,Mihir,₹65.0 L\nEMI starts at ₹34.42 K,Apartment,old
998,3 BHK Apartment for sale in Nashik Road,"Pride Ganesh Row Houses,Nashik Road, Nashik",1490 sq.ft,RAJESH KHEDKAR,₹49.0 L\nEMI starts at ₹25.95 K,Apartment,old

In [11]:
def name_splitter(value):
    return value.split(sep=' BHK')[0]
def price_splitter(value):
    
    
    value = value.replace('₹',' L')
    value1 =value.split(sep=' L')[1]
    
    if 'Cr\nEMI starts at'in value1:
        value2 = float(value1.split(sep=' ')[0])*100
        return round(value2,ndigits=1)
    else:
        return value1  
    
def emi_splitter(value):
 #   if 'Cr\nEMI starts at'in value:
#        value = float(value.split(sep=' ')[0])*100
 #       return round(value,ndigits=1)
 #   else:
    value = value.replace(' K','₹')
    return value.split(sep='₹')[2]
def splitting_sqft(value):
    return value.split()[0]

In [12]:
df['BHK'] = df['name'].apply(name_splitter)
df['price'] = df['emi'].apply(price_splitter)
df['per_month_emi'] = df['emi'].apply(emi_splitter)
df['total_sqft'] = df['sq_ft'].apply(splitting_sqft)

In [13]:
df

,name,address,sq_ft,owners,emi,housetype,house_condition,BHK,price,per_month_emi,total_sqft
0,3 BHK Apartment for sale in Dr.Homi Bhabha Nagar,"Sheetal Vihar, Bhagwant Nagar, Dr.Homi Bhabha ...",1550 sq.ft,Mahendra Kotwal,₹75.0 L\nEMI starts at ₹39.72 K,Apartment,old,3,75.0,39.72,1550
1,2 BHK Apartment for sale in Samta Nagar,"Samraat Dream Citi, Samta Nagar, Nashik",1000 sq.ft,Jiten Dadarkar,₹41.0 L\nEMI starts at ₹21.71 K,Apartment,old,2,41.0,21.71,1000
2,2 BHK Apartment for sale in Nashik Road,"Suryaprakash Apartment,Nashik Road, Nashik",970 sq.ft,Pankaj,₹53.35 L\nEMI starts at ₹28.25 K,Apartment,old,2,53.35,28.25,970
3,2 BHK Apartment for sale in Nashik Road,"Adishvar Residency,Nashik Road, Nashik",1000 sq.ft,Saurav,₹55.0 L\nEMI starts at ₹29.13 K,Apartment,old,2,55.0,29.13,1000
4,2 BHK Apartment for sale in Nashik Road,"Nashik Road, Nashik",853 sq.ft,Vivek Pavanaskar,₹27.0 L\nEMI starts at ₹14.30 K,Apartment,old,2,27.0,14.30,853
...,...,...,...,...,...,...,...,...,...,...,...
994,3 BHK Apartment for sale in Indira Nagar,"Kala Nagar, Indira Nagar,Nashik",1434 sq.ft,Prathamesh Kulkarni,₹52.0 L\nEMI starts at ₹27.54 K,Apartment,old,3,52.0,27.54,1434
995,3 BHK Apartment for sale in Indira Nagar,"Kala Nagar, Indira Nagar,Nashik",1434 sq.ft,Prathamesh Kulkarni,₹52.0 L\nEMI starts at ₹27.54 K,Apartment,old,3,52.0,27.54,1434
996,1 BHK Apartment for sale in Shivaji Nagar,"Shivaji Nagar, Nashik",580 sq.ft,Shashikala Pagar,₹15.0 L\nEMI starts at ₹7.94 K,Apartment,old,1,15.0,7.94,580
997,3 BHK Apartment for sale in Anandwalli Gaon,"Balawant Nagar, Anandwalli Gaon,Nashik",1700 sq.ft,Mihir,₹65.0 L\nEMI starts at ₹34.42 K,Apartment,old,3,65.0,34.42,1700
998,3 BHK Apartment for sale in Nashik Road,"Pride Ganesh Row Houses,Nashik Road, Nashik",1490 sq.ft,RAJESH KHEDKAR,₹49.0 L\nEMI starts at ₹25.95 K,Apartment,old,3,49.0,25.95,1490

In [14]:
df.drop(columns=['name','sq_ft','emi'],inplace = True)

In [15]:
df

,address,owners,housetype,house_condition,BHK,price,per_month_emi,total_sqft
0,"Sheetal Vihar, Bhagwant Nagar, Dr.Homi Bhabha ...",Mahendra Kotwal,Apartment,old,3,75.0,39.72,1550
1,"Samraat Dream Citi, Samta Nagar, Nashik",Jiten Dadarkar,Apartment,old,2,41.0,21.71,1000
2,"Suryaprakash Apartment,Nashik Road, Nashik",Pankaj,Apartment,old,2,53.35,28.25,970
3,"Adishvar Residency,Nashik Road, Nashik",Saurav,Apartment,old,2,55.0,29.13,1000
4,"Nashik Road, Nashik",Vivek Pavanaskar,Apartment,old,2,27.0,14.30,853
...,...,...,...,...,...,...,...,...
994,"Kala Nagar, Indira Nagar,Nashik",Prathamesh Kulkarni,Apartment,old,3,52.0,27.54,1434
995,"Kala Nagar, Indira Nagar,Nashik",Prathamesh Kulkarni,Apartment,old,3,52.0,27.54,1434
996,"Shivaji Nagar, Nashik",Shashikala Pagar,Apartment,old,1,15.0,7.94,580
997,"Balawant Nagar, Anandwalli Gaon,Nashik",Mihir,Apartment,old,3,65.0,34.42,1700
998,"Pride Ganesh Row Houses,Nashik Road, Nashik",RAJESH KHEDKAR,Apartment,old,3,49.0,25.95,1490

In [16]:
df.to_csv('data1')